body {
   background: #dddddd;
   font-size: 100%;
}

body, h1, h2, h3 {
   font-family: Carlito, Calibri, Arial, Helvetica, sans-serif;
   color: #333333;
}

h4
{
  font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-size: medium;
  color: #0000cc;
  font-weight: normal;
  line-height: 100%;
  position: relative;
  top: -0.25em;
  display: inline;
}

#main {
  width: 800px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 1em;
  background: #ffffff;
}

h1
{
  color: #770077;
  display: inline;
}

h2
{
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 135%;
}


h3
{
  color: #990099;
  font-weight: normal;
  font-size: 120%;
  margin: 0;
  padding: 0;
}



li 
{
   margin: 0;
   padding-bottom: 5px;
   border: none;
   color: #000088;
}

li li
{
   margin: 0;
   padding-bottom: 5px;
   border: none;
   color: #555555;

}

li li li
{
   margin: 0;
   padding-bottom: 5px;
   border: none;
   color: #005577;
}

li li li a
{
   color: #0088aa;
}

li li li a:hover
{
   color: #00aabb;
}


td {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

td.gray {
  background-color: #eeeeee;
}

th {
  background-color: #000000;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0 auto;
}

p.center {
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
}

div.getpython {
  margin: 2em;
  padding: 1em;
  border: 1px solid blue;
  background-color: lightblue;
  font-size: 90%;
}

div.getgit {
  margin: 2em;
  padding: 1em;
  border: 1px solid black;
  background-color: yellow;
  font-size: 90%;
}

#heading {
    text-align: center;
}
